setuptools>=42
pvlib>=0.9.1
pandas>=1.5.2
numpy>=1.22.4
tzfpy>=0.15.1
meteostat>=1.6.5
scipy>=1.10.0
hplib==1.9
retry-requests>=2.0.0
openmeteo-requests>=1.1.0
requests-cache>=1.1.0
numexpr>=2.3.0
statsmodels>=0.6
packaging>=20.0
cloudpickle>=1.1.1
fsspec>=0.6.0
pyyaml>=5.3.1
tqdm
cftime
click
matplotlib
seaborn
numba